<%- include("./partials/header")%>

<h1>INDEX PAGE</h1>
<div class="ui four column doubling stackable grid container">
<% blogs.forEach(function(blog){ %>
    <div class="ui items">
        <div class="item">
          <div class="image">
            <img class="ui medium circular image" src="<%= blog.image %>">
          </div>
          <div class="content">
            <a class="header"><%= blog.title %></a>
            <div class="meta">
              <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
              <p><%- blog.body.substring(0,150) %>...</p>
            </div>
            <div class="extra">
                <a href="/blogs/<%= blog._id %>" class="ui pink inverted button">Read more</a>
            </div>
          </div>
        </div>    
<% }) %>    
</div>

<%- include("./partials/footer")%>
