<%- include("partials/header"); %>


<div class="ui main segment container">
    <div class="ui huge header">
        <%= blog.title %>
    </div>    
    <div class="ui top attached">
        <div class="item">
            <img style="height: 500px;" class="ui centered rounded image" src="<%= blog.image %>" alt="">
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- blog.body %></p>
            </div>
                <a href="/blogs/<%= blog._id %>/edit" class="ui blue inverted big button" >Edit</a>
            <form id="del" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="ui red inverted big button ">Delete</button>
            </form>
        </div>
    </div>
</div>


<%- include("partials/footer"); %>
